.product-container
{
    width:  100%;
    height: 100%;
    position: relative;
    font-family: Gilroy,sans-serif;
  
}


.include
{
    width:  100%;
    position: relative;
    display: flex;
    
}
.main-board
{
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
    margin: 80px 15px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 10px 18px gray;
}

.type-board
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 250px;
    border-right: 1px solid #D8D8D8;
}
#plant-title
{
    color: black;
    font-weight: 400;
    font-size: 25px;
}
.plants-title
{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D8D8D8;
    color: black;
    font-weight: 400;
}


.check-list
{
    border-bottom: 1px solid #D8D8D8;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-flow: column nowrap;
    
    align-items: center;

}

.filter-title
{
    margin: 10px;
    

}

.check-title
{
    font-weight: 400;
    color: black;
    text-align: center;
}
.type-check
{
    margin: 10px 0px;
}


.product-board
{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}
.choose-board
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
    align-items: center;
    height: 50px;
}

#sort-by
{
    font-size: 20px;
    margin: 10px;
    
}

#sort-by option
{
    font-size: 20px;
}

.products-board
{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.link-items
{
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    box-sizing: border-box;
}



.products-board-container
{
    width: calc(100% / 4);
    height: 300px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.products-board-container:hover
{
    background-color: rgb(228, 226, 226);
    border-radius: 10px;
}


.items-box
{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
}

.items-box-content
{
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    width: 80%;
}

.items-box-bottom
{
    margin: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.item-img
{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px gray solid;
}
.btn-add-cart-logo
{
    width: 30px;
    
}

.btn-add-cart-logo:hover
{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(100%) contrast(100%);
}

.items-name
{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-price
{
    font-weight: 700;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-container
{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items:center;
}

.fill-type
{
    width: 130px;
    border-radius: 20px;
    margin: 10px;
}
.filter-btn
{
    border-radius: 20px;
    font-size: 18px;
    padding: 5px;
    background-color: #3A9A6D;
    color: white;
    border: #1a7048 solid 2px;
}
@media (max-width: 750px)
{
.product-board
{
    overflow-x: scroll;
}

.type-board
{
    display: none;
}
.products-board-container
{
    width: calc(100% /2);
}
}