version: "3"
services:
  app:
    image: final-project
    build: .
    ports:
      - "8081:8080"
    environment:
      - DB_PORT=5432
      - DB_HOST=docker.for.mac.host.internal
    volumes:
      - ./target/final-project.war:/usr/local/tomcat/webapps/ROOT.war
