.product-detail-section
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box-container
{
    width: calc(100% - 30px);
    background-color: white;
    position: relative;
    margin-top: 80px;
    height: 700px;
    border-radius: 10px;
    box-shadow:  0 -2px 10px 0 rgb(0 0 0 / 10%);
    display: flex;
    box-sizing: border-box;
}

.img-section
{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #B5B5B5;
}
.img-container
{
    background-color: red;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img
{
    width: 90%;
    height: 90%;
}

.description-section
{
    width: 65%;
    display: flex;
    flex-flow: column nowrap;
}

.saling-section
{
    display: flex;
    flex-flow: column nowrap;
    height: 350px;
    border-bottom: 1px dashed #B5B5B5 ;
}

.sale
{
    font-size: 25px;

    padding: 30px 25px;
}



.detail-product
{
    display: flex;
    flex-flow: column nowrap;
    font-size: 20px;
    
}
.detail
{
    display: flex;
    justify-content:  space-between;
    font-size: 15px;
    width: 50%;
}
.detail-style
{
    margin: 25px ;
}

.btn-product
{
    font-size: 15px;
    padding:10px;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    border: none;
    background-color: #58b88b;
    color: white;
    box-shadow:  0 -2px 10px 0 rgb(0 0 0 / 10%);
    font-weight: 700;
}

.btn-product:hover{
    background-color: #3A9A6D;
    cursor: pointer;
}


.price
{
    color: black;
    font-weight: 700;
}

.product-name
{
    color: black;
}

.title
{
    color:#9EAAC7 ;
    font-size: 15px;
}

.info
{
    color: black;
}

.text-description
{
    padding: 30px 25px;
}

.btn-saling
{
    display: flex;
    width: 50%;
}

.btn-container
{
    margin: auto;
}
@media(max-width: 800px)

{
    .img-section
    {
        width: 100%;
    }
    .description-section
    {
        width: 100%;
    }
    .price
    {
        text-align: center;
    }
    .img-container
    {
        width: 80%;
        height: 80%;
        border-radius: 10px;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-img
    {
        width: 80%;
        height: 80%;

    }

    
    
}