.body-container
{
    padding: 80px 45px;
}
.wrapper
{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.main-box
{
    width: 100%;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow:  0 -2px 10px 0 rgb(0 0 0 / 10%);

}

.box-header
{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-body
{
    display: flex;
    flex-flow: column nowrap;
}
.box-body-title-container
{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;

}
.Product
{
    display: flex;
    height: 150px;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}
.item-img
{
    width: 150px;
}
.id-container
{
    width: 5%;
    text-align: center;
}
.item-container
{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-container
{
    width: 20%;
    text-align: center;
}
.quality-container
{
    width: 10%;
    text-align: center;

}
.price-container
{
    width: 15%;
    text-align: center;

}
.action-container
{
    width: 30%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
}
.btn-items
{
    margin: 10px;
}

