.header
{
    top:0;
    width: 100%;
    left:0;
    z-index: 1;
    position: absolute;
}
.container
{
    padding:  0px 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    font-size: 17px;
    font-weight: 600;
    position: fixed;
    background: rgba(255, 255, 255,0.8);
    color: #c2c2c2;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 2;
    box-shadow:  0 -2px 10px 0 rgb(0 0 0 / 10%);
}
.group-logo
{
    display: flex;
    align-items: center;
}
.logo-link
{
    display: flex;
    align-items: center;
    
    text-decoration: none;
    max-width: 250px;
    min-width: 80px;
}

.strike
{
    background-color: #8FE8F0;
    width: 20px;
    height: 3px;
    border-radius: 10px;
    margin: 3px;
}

.btn-change-shopping
{
    width: 40px;
    height: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}
.first-section
{
    display: flex;
    flex-flow: row nowrap;
    width: 20%;
}

.btn-change-shopping-container
{
    width :60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-change-shopping:hover
{
    
    box-shadow:  0 -2px 10px 0 rgb(0 0 0 / 10%);


}
.btn-change-shopping:hover .strike 
{
    background:green;
    

}

.btn-change-shopping:hover .plant-change
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.plant-change
{
    
    position:absolute;
    top: 50px;
    left: 15px;
    width: 150px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    border-top-left-radius: 0%;
    box-shadow:  0 -2px 10px 0 rgb(0 0 0 / 10%);

    display: none;
}

.plant-change a
{
    text-decoration: none;
    
    font-weight: 700;
}

.plant-change:hover
{
    background-color: #0EA56E;
    color: white;
   
}

.plant-change:hover a
{
    color: white
}

#logo-img
{
    width: 50px;
    border-radius: 5px;
    
}
#group-name
{
    text-align: center;
    font-family: 'Qahiri', sans-serif;
    font-size: 30px;
    margin: 0px 10px;
}
.list-content
{
    list-style-type: none;
    height: 100%;
}
.list-content a
{
    text-decoration: none;
}
.list-nav
{
    width: 40%;
    height: 100%;
    display: flex;
    
    align-items: center;
}


.nav-contents
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.list-contain
{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.list-content{

    box-sizing: border-box;
    
    
}
.list-content:hover
{
    border-bottom: 3px solid #0EA56E;
}
.input-container
{
    margin: 0 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.input-search
{
    font-size: 20px;
    width: 100%;
    border: none;
    
    border-bottom: 1px solid #c2c2c2;
    background-color: transparent !important;
    color: #0EA56E;
    outline:none
}
.input-search:focus
{
    border-bottom: 2px solid #0EA56E;
}


.input-search:focus::placeholder
{
    color: transparent !important; 
}
.nav-icon{
    margin: 0 15px;
    width: 40px;
}

.icon-link:hover
{
    border-bottom: 3px solid #0EA56E;
}
.icon-link
{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.open-nav-logo
{
    display: none;
}

.user-control
{
    display: none;
    
    
}

.user-control-content
{
    padding: 15px;
    margin:3px;
    border: rgb(165, 147, 147) 1px solid;
    box-shadow:  0 -2px 10px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
    background-color: white;

    text-decoration: none;
}

.user-control-content:hover
{
    -ms-transform: scale(0.5); 
  -webkit-transform: scale(0.5); 
  transform: scale(1.2);
  box-shadow:  0 -2px 10px 0 rgb(0 0 0 / 10%);

  

}

#user-login:hover  .user-control
{
    display: flex;
    position: absolute;
    right: 20px;
    top: 50px;
    flex-flow: column nowrap;
    box-shadow:  0 -2px 10px 0 rgb(0 0 0 / 10%);
    background-color:#0EA56E;
}

.main-content
{
    font-size: 20px;
    text-decoration: none;
}

.login-container
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.login
{
    font-size: 20px;
}
.login:hover
{
    color: rgb(3, 141, 141);
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;}