@media (max-width : 750px)
{
    
    .nav-contents
    {
       display: none;
    }
    .list-contain
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 20px;
        font-size: 20px;;
    }
    
    .input-search
    {
    font-size: 20px;
    width: 100%;
    border: none;
    
    border-bottom: 1px solid #c2c2c2;
    background-color: transparent ;
    color: white;
    outline:none
    }
    .input-search:focus
    {
        border-bottom: 2px solid white;
    }


    .input-search:focus::placeholder
    {
        color: transparent !important; 
    }
    .list-nav
    {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    .input-container
    {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    .open-nav-logo
{
    display: flex;
    margin: 10px;
    background-color: #0EA56E;
    padding: 6px;
    position: absolute;
    top: 0px;
    right: 0.4rem;
    flex-direction: column;
    justify-items: center;
    border-radius: 50%;
}
}

.moblie{
    display: flex;
    flex-flow: column;
}
.moblie
{
    width: 100%;
}

.line
{
    display: block;
    width: 14px;
    height: 3px;
    background-color: white;
    margin: 1px;
    border-radius: 21%;
}

.overplayed
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s ;
}

.left-nav
{
    z-index: 1;
    position: fixed;
    right:0;
    top: 0;
    bottom: 0;
    width: 300px;
    background: #0EA56E;
    color: #ccbe91;
    max-width: 100%;
    transform: translateX(100%);
    transition: transform linear 0.3s;
}
#nav-header
{
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255,0.8);
    box-shadow:  0 -2px 10px 0 rgb(0 0 0 / 10%);
}
.close-nav
{
    margin: 10px;
    background-color: #ccbe91;
    padding: 6px;
    position: absolute;
    top: 0;
    right: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 50%;
}

#line1
{
    transform: rotate(45deg);
    margin: 5px 0px;
}
#line2
{
    position: absolute;
    transform: rotate(-45deg);
    margin: 5px 0px;
}
.nav__input
{
  display: none;
}

.nav__input:checked~.overplayed
{
    display: block;
}

.nav__input:checked ~ .left-nav
{
    transform: translateX(0);
}

@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.nav-content
{
    padding: 10px 15px;
    line-height: 2;
    font-weight: 600;
}